<li>
  <%= gravatar_for relationship.followed, size: 50 %>
  <span class="user">
    <%= link_to relationship.followed.name, user_path(relationship.followed) %>
  </span>
  <span class="status">
    <%= relationship.status.humanize %>
  </span>
  <span class="actions">
      <span>
        <%= link_to 'accept', accept_relationship_path(relationship), method: :put %>
      </span>
      <span>
        <%= link_to 'denied', denied_relationship_path(relationship), method: :put %>
      </span>
  </span>

</li>