$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>");
$("#followers").html('<%= @user.followers.count %>');
$("#microposts").html("<%= escape_javascript(render('users/microposts')) %>");