<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% else %>
      <span>
        <%= link_to_awesome_icon 'fa fa-thumbs-o-up', like_micropost_path(micropost), method: :put %>
        (<%= micropost.count_votes_by_type(:like).size %>)
      </span>
      <span>
        <%= link_to_awesome_icon 'fa-thumbs-o-down', dislike_micropost_path(micropost), method: :put %>
        (<%= micropost.count_votes_by_type(:dislike).size %>)
      </span>
      <span>
        <%= link_to_awesome_icon 'fa fa-star-o', favorite_micropost_path(micropost), method: :put %>
        (<%= micropost.count_votes_by_type(:favorite).size %>)
      </span>
    <% end %>
  </span>
</li>